<?php

var_dump($this->news);


?>
<script>
/**
 *
     * Permet l'éxécution d'une ligne de commande en mode shell
     * et l'execute sur le serveur en 'background'
     * @param string $cmd ligne de commande à executer

    public function execInBackground($cmd)
    {
        if (substr(php_uname(), 0, 7) == "Windows") {
            pclose(popen("start /B " . $cmd, "r"));
        } else {
            exec($cmd . " > /dev/null &");
        }
    }


 *
 * 'console' => array(
        'router' => array(
            'routes' => array(
                'generateAndSendXML' => array(
                    'options' => array(
                        'route'    => 'generateAndSendXML <idproforma>',
                        'defaults' => array(
                            'controller' => 'Invoice\Controller\Invoice',
                            'action'     => 'generateAndSendXML',
                        )
                    )
                ),
            )
        )
    ),

 * PROGRESS BAR
 *
 *          <div id="progress-block" class="hidden col-xs-4">
              <input id="proforma-id" name="<?=?>" type="hidden" value="<?= ?>"/>
              <p>
                <?=$this->translate(
                  'An export is in progress... you can leave or stay and wait for the end of treatment'
                  )?>
              </p>
              <div class="col-xs-10">
                <div class="progress">
                  <div id="progress-line"class="progress-bar progress-bar-success" role="progressbar"
                    aria-valuenow="<?=" aria-valuemin="0" aria-valuemax="<?=?>">
                  </div>
                </div>
              </div>
            </div>
 */
var progressInterval;

function getProgress() {
  var urlform = "/invoice/getOrdersProgress?proforma=" + $("#proforma-id").val();
  $.getJSON(urlform, function(json){
      var max = $("#progress-line").attr('aria-valuemax');
      if (json.exported == max) {
        showProgress(100);
        clearInterval(progressInterval);
        location.reload();
      } else {
        var percent = Math.floor((json.exported / max) * 100);
        showProgress(percent);
      };
  });
}

function startProgress(value) {
  if (value) {
    showProgress(value);
  } else {
    showProgress(0);
  };
  progressInterval = setInterval(getProgress, 3000);
}

function showProgress(amount) {
    $("#progress-line").show();
    $('#progress-line').width(amount + '%');
    $('#progress-line').attr('aria-valuenow', amount);
}

$( ".export-invoices" ).on( "click", function(e) {
    e.preventDefault();
    var id = $( this ).data('value');
    var urlform = "<?php echo $this->url('invoice/invoicing'); ?>";
    $.ajax({
      url: urlform,
      type: 'POST',
      dataType: 'json',
      async: true,
      data: {proforma : id},
      beforeSend : function() {
        $("#progress-block").removeClass("hidden");
        $("#progress-block").addClass("show");
        $(".export-invoices").addClass("hidden");
      },
      success:function(json) {
        if (json.success) {
          startProgress();
        } else {
          window.location.reload();
        };
      }
    });
});
$(window).load(function() {
    if ($("#proforma-id").attr('name') == 'Exporting') {
      $("#progress-block").removeClass("hidden");
      $("#progress-block").addClass("show");
      startProgress();
    };
});

    /**
     * Permet d'afficher ou de masquer un champ en rapport avec une valeur du select
     * @param  string expected champ attendu
     * @param  string field    champ a modifier
     * @param  string value    valeur du champ à comparer 
     */
    function showField(expected, field, value)
    {
        if (expected == value) {
            $("#" + field).removeClass('hidden');
            $("#" + field).addClass('show');
        } else {
            $("#" + field).addClass('hidden');
            $("#" + field).removeClass('show');
        }
    }
    $(".showField").on("change", function() {
        showField(
            $(this).attr('data-expected'),
            $(this).attr('data-field'),
            $(this).val()
        );
    });

    $(".showField").trigger("change");

</script>